<%= div_for listing do %>
  <div class="large-12 columns border border-box glassy-bg mt pt">
    <strong><%= h(listing.title) %></strong>  $<strong class="inl"><%= h(listing.price) %></strong><br />
    <sup class="text-muted">From <%= time_ago_in_words(listing.created_at)%></sup><br />
    <div class="mb pb"> <%= h(listing.description) %> </div>
    
    <div class="reserve"><%= button_to 'Check out this listing', listing_path(listing.id), method: :get, class: "button" %></b></div>
   
     <a class="inl" href=<%=listing_path(listing.id)%>>
     <%if listing.image.first != nil %>
      <img class="pics" src=<%= h(listing.image.first.url) %> >
      <%end%>
      <%#if listing.user_id == current_user[:id] %>
      <%#= link_to "Delete Listing", listing_path(listing.id), method: :delete%>
      <%#end%>
      </a>
      <br>
      <br>
       <iframe class ="map"
  height="250px"
  frameborder="0" style="border:0"
  src="https://www.google.com/maps/embed/v1/place?key=AIzaSyBX8hQcoSEtucwisPltvD2u0Xsl7nZg77I
    &q=<%= h(listing.location).gsub(/(\S*)\s?(\S*)\s?(\S*)\s?(\S*)\s?(\S*)\s?(\S*)\s?(\S*)\s?(\S*)/, '\1+\2+\3+\4+\5+\6+\7+\8')%>&q=seattle+washington&q=arizona" allowfullscreen>
</iframe>
      <br/>
    <div>
    </div>
    <div class="tags"><h4>
      <%=raw tag_links(listing.all_tags)%></h4>
    </div>
  </div>
<% end %>

