<%= div_for listing do %>
  <div class="large-12 columns border border-box glassy-bg mt pt">
    <strong><%= h(listing.author) %></strong><br />
    <sup class="text-muted">From <%= time_ago_in_words(listing.created_at)%></sup><br />
    <div class="mb pb">
      <%= h(listing.content) %>
    </div>
    <div class="tags">
      <%=raw tag_links(listing.all_tags)%>
    </div>
  </div>
<% end %>