<div id="flash" align='center'>
      <% flash.each do |key, value| %>
        <div class="flash <%= key %>"><%= value %></div>
      <% end %>
    </div>
     
    </div>
    
    </nav>
    <nav class="header text-center">
      <h3>Find or create a listing</h3>
    </nav>


<div class="row mt pt">
  <div class="large-5 columns" align='right'>
  <%= form_tag(tag_path, method: :post) do %>

  <%= submit_tag 'Search', name: nil %>
  <%= text_field_tag :tag, nil, placeholder: "Search Tags Here" %>
  
<% end %>
    <div class="top-pad glassy-bg">
      <%= render partial: "listings/new" %>
    </div>
    <div class="tags-cloud glassy-bg" align="center">

    
      <h4 align="center">Tags Cloud</h4>
      <% tag_cloud Tag.counts, %w{css1 css2 css3 css4} do |tag, css_class| %>
        <%= link_to tag.name, tagl_path(tag.name), class: css_class %>,
      <% end %>
      </div>
    

  
  </div>
  <div class= "large-7 columns" id="listings">

    <%= render partial: @listings.reverse %>

  </div>
</div>

<div class='lightbox hidden'><div class='lightbox-content'>
  <a href="#" class='lightbox-close'>Close</a><br/><div class='lightbox-image'>
  <img src="https://images-na.ssl-images-amazon.com/images/I/51Me0XRhfxL._AA300_.jpg">
</div>

<script>

  const closeButton = document.querySelector('.lightbox');
  const lightbox = document.querySelector('.lightbox');
  const lightboxImage = document.querySelector('.lightbox-image');

  function showImage(event){
    lightbox.classList.remove('hidden');
    const elementClickedOn = event.target;
    const galleryItemParent = elementClickedOn.parentElement;
    lightboxImage.innerHTML = galleryItemParent.innerHTML;
  }

  function hideImage(event){
    event.preventDefault();
    lightbox.classList.add('hidden');
  }

  closeButton.onclick = hideImage;



  const galleryItems = document.querySelectorAll('.inl');
  for (i=0;i<galleryItems.length;i++){
    let item = galleryItems[i]
    item.onclick = showImage;
  }
  </script>
