<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href='http://fonts.googleapis.com/css?family=PT+Sans' rel='stylesheet' type='text/css'>

    <title><%= content_for?(:title) ? yield(:title) : "Tagging System" %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= csrf_meta_tags %>
  </head>

  <body>
    <nav class="nav-bar" data-topbar role="navigation">
      <h2>Airbnb</h2>
      <% if signed_in? %>
      Signed in as: <%= current_user.email %>
      <%= button_to 'Sign out', sign_out_path, method: :delete %>
    <% else %>
      <%= link_to 'Sign in', sign_in_path %>
    <% end %>

    <div id="flash">
      <% flash.each do |key, value| %>
        <div class="flash <%= key %>"><%= value %></div>
      <% end %>
    </div>
    </nav>
    <nav class="header text-center">
      <h3>Find or create a listing</h3>
    </nav>
    <%= yield %>
    <footer>
      All rights are reserved
    </footer>
    <%= javascript_include_tag "application" %>
  </body>
</html>